# Eclipse top-level resource files are excluded ...
# Some Eclipse project resource files should never be checked in ...
# These are names of directories typically used for generated content, so are ignored ...
.gradle

# The 3rd party dependencies should never be committed
/.idea/
/strongback-java.iml
